.navbar{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
    
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.navbar ul li {
    margin: 0 40px;
}
.search-box {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    padding: 5px;
    margin-right: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    width: 200px;
    background: linear-gradient(to right, #6a06d6, #b330f0);
    filter: drop-shadow(0 0 1em #aa00fffa);
}


