.navbar {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7%;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

.navbar ul li {
  margin: 0 75px;
}
