.box {
    border-radius: 10px;     
    padding: 20px;           
    width: 300px;            
    text-align: center;    
    background-color: #1b1b1b;  
    margin: 15px;         
    width: 500px;        
}


.title {
    font-size: 1.5rem;       /* Larger text */
    background: linear-gradient(to right, #2563eb, #dd30f0);     
    margin-bottom: 15px;     /* Space between text and image */
    padding: 10px;
}


.image {
    width: 100%;             
    height: auto;            
    border-radius: 8px;      
}

/* Flexbox container for arranging project boxes side by side */
.boxflex {
    display: flex;           
    flex-wrap: wrap;         
    justify-content: space-around; 
    gap: 15px;               
}
