.box {
    position: relative;
    border-radius: 10px;     
    padding: 20px;           
    width: 300px;            
    text-align: center;    
    background-color: #1b1b1b;  
    margin: 15px;         
    width: 300px;        
    transition: filter 300ms, transform 0.5s; /* Combine transitions */
}

.box:hover .image{
    transform: scale(1.06);
    filter: drop-shadow(0 0 1em #4400fffa);
    filter: brightness(0);
}




.title {
    font-size: 1.5rem;       /* Larger text */
    background: linear-gradient(to right, #2563eb, #dd30f0);     
    margin-bottom: 15px;     /* Space between text and image */
    padding: 10px;
}



.pythonlogo {
    position: absolute; /* Position the Python logo over the image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; /* Adjust size as needed */
    height: auto;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.5s; /* Smooth transition */
    z-index: 2;
}


.box:hover .pythonlogo {
    opacity: 1;
    filter: brightness(1);
    z-index: 1

}
    

.image {
    width: 100%;             
    height: auto;            
    border-radius: 8px;      
}

/* Flexbox container for arranging project boxes side by side */
.boxflex {
    display: flex;           
    flex-wrap: wrap;         
    justify-content: space-around; 
    gap: 15px;               
}
