#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Hero Container */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 2rem;
  min-height: 80vh;
}

/* Text Content Container */
.hero-content {
  flex: 1;
  max-width: 600px;
}

/* Main Heading */
.hero-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #2563eb, #dd30f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-title {
  font-size: 0.8rem;
  padding: 10px;
}

.herowords-title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #8525eb, #dd30f0);
  filter: drop-shadow(0 0 2em #b300fffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts-title {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  float: left;
  text-align: left;
  background: linear-gradient(to right, #2574eb, #30caf0);
  filter: drop-shadow(0 0 5em #0037fffa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.biannual {
  filter: drop-shadow(0 0 1em #4400fffa);
  width: 500px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: filter 300ms, transform 0.5s; /* Combine transitions */
  z-index: 102;
}

.biannual:hover {
  transform: scale(1.06);
}

.hero-subtitle {
  font-size: 1.25rem;
  line-height: 1.7;
  color: #64748b;
  margin-bottom: 2rem;
}

.herotextcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.herotextcontent {
  padding: 40px;
  text-align: right;
  margin-top: 100px;
}

.profile-image {
  width: 250px;
}

.containerNav {
  width: 100vw;
  min-width: 100vh;
  background: #ced8ff;
  display: flex;
  justify-content: left;
  align-items: left;
  background: linear-gradient(to right, #b025eb, #00d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2563eb, #ff00c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.8s steps(50000) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}

@keyframes blink {
  10% {
    border-color: transparent;
  }
}

.content {
  padding: 40px;
  text-align: right;
  margin-top: 100px;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}

.content:hover {
  transform: scale(1.05);
}

.yaqub {
  height: auto;
  width: 350px;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
  margin-bottom: 100px;
  order: 2;
  filter: drop-shadow(0 0 3em #4400fffa);
}

.yaqub.react:hover {
  filter: drop-shadow(0 0 4em #4400fffa);
}

.soukai {
  height: 7em;
  will-change: filter;
  padding: 9px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.soukai:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 0.4em #ffffff);
}
.soukai.react:hover {
  filter: drop-shadow(0 0 0.4em #ffffff);
}

.city {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.city:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #ff0000);
}
.city.react:hover {
  filter: drop-shadow(0 0 2em #ff0000);
}

.tcs {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.tcs:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #fa6635);
}
.tcs.react:hover {
  filter: drop-shadow(0 0 2em #fa6635);
}

.phs {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.phs:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #0a6410);
}
.phs.react:hover {
  filter: drop-shadow(0 0 2em #0a6410);
}

.ccf {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.ccf:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #ff0000);
}
.ccf.react:hover {
  filter: drop-shadow(0 0 2em #ff0000);
}

.scouts {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.scouts:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #9248e0);
}
.scouts.react:hover {
  filter: drop-shadow(0 0 2em #9248e0);
}

.dst {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.dst:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #2c1089);
}
.dst.react:hover {
  filter: drop-shadow(0 0 2em #2c1089);
}

.encode {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.encode:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #2645f4);
}
.encode.react:hover {
  filter: drop-shadow(0 0 2em #2645f4);
}

.aws {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.aws:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #ffa443);
}
.aws.react:hover {
  filter: drop-shadow(0 0 2em #ffa443);
}

.coinrule {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}
.coinrule:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #eeff00aa);
}
.coinrule.react:hover {
  filter: drop-shadow(0 0 2em #d3be03aa);
}

.stemmlogo {
  height: 11em;
  will-change: filter;
  padding: 40px;
  transition: filter 300ms;
  border-radius: 50%;
  transition: transform 0.5s, filter 0.5s;
  z-index: 102;
}

.stemmlogo:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2em #a6f7f0aa);
}

.stemmlogo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes moveLeft {
  0% {
    transform: translateX(600%);
  }
  100% {
    transform: translateX(-600%);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
